<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="org/cboard/view/custom/BMap_test/bmap.css">
    <link href="org/cboard/view/custom/static/css/select2.min.css" rel="stylesheet" />
    <script src="org/cboard/view/custom/static/js/select2.min.js"></script>
    <script src="org/cboard/view/custom/static/js/public.js"></script>
    <!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>-->

    <script src="org/cboard/view/custom/BMap_test/bmap.js"></script>
</head>

<body>
<div class="heen">
    <i class="fa fa-spinner fa-pulse fa-5x fa-spin" style="color: #777777;position: absolute;top: 40%;left: 40%"></i>
</div>
    <div class="row heaselect">
        <div class="col-sm-12">
            <div class="choice">
                <div class="select_F">
                    <select class="select2 js-example-basic-multiple js-states form-control" id="city_name" onchange="select_name()" style="width: 100%"></select>
                </div>
                <div class="infos">
                    <p class="not_receive fl">实时总未接单量:<span class="not_receive_orders"></span></p>
                    <p class="wait_man fl">实时总可接单闪送员:<span class="total_waiting_couriers"></span></p>
                    <p class="pay_order fl">今日累计总支付单量:<span class="total_pay_orders"></span></p>
                    <p class="total_receive fl">今日累计接收单量:<span class="total_receive_orders"></span></p>
                    <p class="total_reception_probability fl">今日累计接单率:<span class="reception_probability"></span></p>
                </div>
                <p class="updateB">
                    <span class="">时间:<i class="timer"></i></span>
                    <button type="button" class="glyphicon glyphicon-refresh update"></button>
                </p>
            </div>
        </div>
    </div>
    <div class="bmap_box">
        <div id="allmap"></div>
        <!--左侧显示信息-->
        <div class="show_infos" id="show_infos">
            <p class="shensuo glyphicon "></p>
        </div>
        <!--右侧工具栏-->
        <div id="showPanelBtn" onclick="showPanel()">地图详细操作</div>
        <div id="panelWrap">
            <div class="table_wa">
                <p class="left_btn btn_smalie btn-primary">六边形参数设置</p>
                <p class="right_btn btn_smalie">绘制工具功能</p>
            </div>
            <div class="table_one">
                <ul>
                    <li>六边形背景变化可由下拉框参数设定</li>
                    <div class="yyy" style="margin-bottom: 10px;">
                        <select class="select_status" name="" id="">
                            <option value="day_not_receive_orders">今日未接单</option>
                            <option value="day_total_waiting_couriers">今日可接单闪送员</option>
                            <option value="day_total_pay_orders">今日已支付单量</option>
                            <option value="day_total_receive_orders">今日接收单量</option>
                            <!--<option value="reception_probability">今日接单率</option>-->
                        </select>
                        <span class="btn-primary update" style="border-radius: 5px;">确认加载</span>
                    </div>
                </ul>
                <div class="">

                </div>

            </div>
            <div class="table_two">
                <dl>
                    <!--<dt>绘制工具功能</dt>-->
                    <dt>绘制功能</dt>
                    <ul>
                        <li><label><input type="radio" name="openClose1" onclick="drawingManager.open()"/>打开</label>  <label><input type="radio" name="openClose1" onclick="drawingManager.close()" checked="checked"/>关闭</label></li>
                    </ul>
                    </dd>
                    <!--<dt>是否进行线或面积的计算(单位米)</dt>-->
                    <!--<ul>-->
                        <!--<li><label><input type="radio" name="openClose" onclick="drawingManager.enableCalculate()"/>打开</label>  <label><input type="radio" name="openClose" onclick="drawingManager.disableCalculate()"  checked="checked"/>关闭</label></li>-->
                    <!--</ul>-->
                    </dd>
                    <dt>覆盖物操作</dt>
                    <dd>
                        <ul>
                            <li>
                                <label><input type="radio" name="drawmode" onclick="drawingManager.setDrawingMode(BMAP_DRAWING_MARKER)" checked="checked"/>打点标记</label>
                                <!--<input type="checkbox" id="isInfowindow"/> 是否带信息窗口-->
                            </li>
                            <li>
                                <label><input type="radio" name="drawmode" onclick="drawingManager.setDrawingMode(BMAP_DRAWING_CIRCLE)"/>画圆</label>
                            </li>
                            <li>
                                <label><input type="radio" name="drawmode" onclick="drawingManager.setDrawingMode(BMAP_DRAWING_POLYLINE)"/>画线</label>
                            </li>
                            <li>
                                <label><input type="radio" name="drawmode" onclick="drawingManager.setDrawingMode(BMAP_DRAWING_POLYGON)"/>画多边形</label>
                            </li>
                            <li>
                                <label><input type="radio" name="drawmode" onclick="drawingManager.setDrawingMode(BMAP_DRAWING_RECTANGLE)"/>画矩形</label>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <div class="btn_shou">
                    <p><input type="button" class="btn-primary " value="获取绘制覆盖物个数" onclick="alert(overlays.length)"/></p>
                    <p><input type="button" class="btn-primary " value="清除所有绘制覆盖物" onclick="clearAll()"/></p>
                    <!--<p><input type="button" class="btn-primary " value="获取最后一个覆盖物信息" id="getLastOverLay"/></p>-->
                    <p><input type="button" class="btn-primary " value="清空左侧信息" id="clear_infos"/></p>
                </div>
            </div>
            <div id="panel">

            </div>
        </div>

    </div>

</body>
<script type="text/javascript">

</script>

</html>
